<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Beep.Brake.Web</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">

  </head>
  <body>

    <header>
      <% include header %>
    </header>

    <label> Id </label>
    <label style="padding-left:9.5%"> Event Location </label>
    <label style="padding-left:26.8%"> Time </label>
    <table class="table table-striped">
      <tr>
        <td> 1
        <td> 2nd Street
        <td> 4:30 AM 02/02/16
      <tr>
        <td> 2
        <td> 3rd Road
        <td> 6:29 PM 02/03/16
    </table>
  </body>
</html>  