<!DOCTYPE html>  
<html lang="en">  
  <head>
    <% include head %>
  </head>
  <body>

    <header>
      <% include header %>
    </header>

    <label> Id </label>
    <label style="padding-left:9.5%"> Event Location </label>
    <label style="padding-left:26.8%"> Time </label>
    <table class="table table-striped">
      <tr>
        <td> 1
        <td> 2nd Street
        <td> 4:30 AM 02/02/16
      <tr>
        <td> 2
        <td> 3rd Road
        <td> 6:29 PM 02/03/16
    </table>
  </body>
</html>  