<!DOCTYPE html>  
<html lang="en" ng-app="beep.brake">  
  <head>
    <% include head %>
  </head>
  <body ng-controller="mainCtrl">

    <header>
      <% include header %>
    </header>

    <label> Id </label>
    <label style="padding-left:13.8%"> Time </label>
    <!--<label style="padding-left:26.8%"> Time </label>-->
    <table class="table table-striped">
      <tr ng-repeat="event in events.data">
        <td> {{event.id}}
        <td> {{event.eventdate}}
    </table>
  </body>
</html>  