<base href="/" />
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#/">
                Beep.Brake.Web
            </a>
        </div>

        <ul class="nav navbar-nav">
            
            <li><a href="#/">Home</a></li>
            <li><a href="#/dataView">Data View</a></li>
            
        </ul>
      
    </div>
</nav>  