<meta charset="utf-8">
<title>Beep.Brake.Web</title>
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="stylesheets/style.css" rel="stylesheet">
<script src="js/lib/angular.js"></script>
<script src="js/lib/dirPagination.js"></script>
<script src='js/lib/moment.js'></script>
<script src='js/lib/moment-timezone-with-data.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.5/angular-moment.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
<script src="js/main.js"></script>
<script src='js/mainCtrl.js'></script>
<script src='js/eventCtrl.js'></script>
<script src='js/dataCtrl.js'></script>
<script src='js/regCtrl.js'></script>