<!DOCTYPE html>  
<html lang="en" ng-app="beep.brake">  
  <head>
    <meta charset="utf-8">
    <title>Beep.Brake.Web</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="js/lib/angular.js"></script>
    <script src="js/main.js"></script>
    <script src='js/controllers.js'></script>

  </head>
  <body ng-controller="mainCtrl">

    <header>
      <% include header %>
    </header>

    <div class="panel panel-default col-sm-6 col-sm-offset-3" style="padding:20px">
    <p>{{test}}</p>
      <div class="input-group">
        <label> Username
        <input type="text" class="form-control" ng-model="username">
      </div>
      <div class="input-group">
        <label> Password
        <input type="password" class="form-control" ng-model="password">
      </div>
      <div class="input-group">
        <input class="btn btn-primary" type="submit" value="Submit" ng-click="submit()">
    </div>
  </body>
</html>  