<!DOCTYPE html>  
<html lang="en" ng-app="beep.brake">  
  <head>
    <% include head  %>

  </head>
  <body ng-controller="mainCtrl">

    <header>
      <% include header %>
    </header>

    <div class="panel panel-default col-sm-6 col-sm-offset-3" style="padding:20px">
    <p>{{test}}</p>
      <div class="input-group">
        <label> Username
        <input type="text" class="form-control" ng-model="username">
      </div>
      <div class="input-group">
        <label> Password
        <input type="password" class="form-control" ng-model="password">
      </div>
      <div class="input-group">
        <input class="btn btn-primary" type="submit" value="Submit" ng-click="submit()">
    </div>
  </body>
</html>  