<!DOCTYPE html>  
<html lang="en" ng-app="beep.brake">  
  <head>
    <% include head  %>

  </head>
  <body ng-controller="mainCtrl">

    <header>
      <% include header %>
    </header>

    <div ng-view></div>
    
  </body>
</html>  