<div class="col-sm-6">
  <div class="panel">
    <table class="table table-hover">
      <tr>
        <th>Segment Time</th>
      </tr>
      <tr dir-paginate="seg in segments|itemsPerPage:15" ng-click="segSelect(seg.id)">
        <td ng-class="{'info': seg.active}"> {{seg.segtime}} </td>
      </tr>
    </table>
    <dir-pagination-controls max-size="10" direction-links="true" boundary-links="true" ></dir-pagination-controls>
  </div>
</div>
<div class="col-sm-6 panel">
  <img ng-src="{{img_url}}">
  <table class="table col-sm-6">
    <tr ng-repeat="sensor in currentSegData">
      <td> {{sensor.key}} </td>
      <td> {{sensor.value}} </td>
    </tr>
   </table>
 </div>